<!DOCTYPE html>
<html lang="en" ng-app="elevatorSim">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/style.css" rel="stylesheet" type="text/css" />
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/filters.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	
	<title>Sim Elevator</title>
</head>
<body ng-controller="IndexController">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Sim Elevator</a>
			</div>

			<div class="collapse navbar-collapse " id="navbar-collapse-1">
				<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#newSimModal">New Simulation</button>
			</div>
		</div>
	</nav>
	
	<div class="modal fade" id="newSimModal" tabindex="-1" role="dialog" aria-labelledby="newSimModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="newSimModalLabel">New Simulation Settings</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" role="form">
						<div class="form-group">
							<label class="sr-only" for="resetSimElevators">Number of Elevators</label>
							<input type="number" class="form-control" id="resetSimElevators" ng-model="resetSimElevators" placeholder="Num Elevators">
						</div>
						<div class="form-group">
							<label class="sr-only" for="resetSimFloors">Number of Floors</label>
							<input type="number" class="form-control" id="resetSimFloors" ng-model="resetSimFloors" placeholder="Num Floors">
						</div>
						<div class="form-group">
							<label class="sr-only" for="resetSimMaxOccupancy">Maximum Elevator Occupancy</label>
							<input type="number" class="form-control" id="resetSimMaxOccupancy" ng-model="resetSimMaxOccupancy" placeholder="Max Occupancy">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetSimulation()">Apply</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div>
					<table class="floor-table table table-bordered">
						<thead>
							<tr>
								<th width="1%">Level</th>
								<th width="1%">#&nbsp;Going&nbsp;Up</th>
								<th ng-repeat="elevator in simulation.elevators">Elevator&nbsp;{{ elevator.elevatorNum + 1 }}</th>
								<th width="1%">#&nbsp;Going&nbsp;Down</th>
							</tr>	
							<tr>
								<td></td>
								<td></td>
								<td ng-repeat="elevator in simulation.elevators">
									<div elevator-stops class="elevator-stops"></div>
								</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="floor in simulation.floors | reverse">
								<td>L{{ floor.getLevel() }}</td>
								<td>{{ floor.countPassengersGoingUp() }}</td>
								<td ng-repeat="elevator in floor.elevatorSlots track by $index">
									<div ng-if="elevator" elevator-state></div>
								</td>
								<td>{{ floor.countPassengersGoingDown() }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Add Passengers</h3>
					</div>
					<div class="panel-body">
						<form class="form-inline" id="addPassengerForm" role="form">
							<div class="form-group">
								<label class="sr-only" for="addPassengerStartLevel">Start Level</label>
								<input type="number" class="form-control" id="addPassengerStartLevel" ng-model="addPassengerStartLevel" placeholder="Start Level">
							</div>
							<div class="form-group">
								<label class="sr-only" for="addPassengerDestinationLevel">Destination Level</label>
								<input type="number" class="form-control" id="addPassengerDestinationLevel" ng-model="addPassengerDestinationLevel" placeholder="Destination Level">
							</div>
							<button type="submit" class="btn btn-default" ng-click="addPassenger()">Add Single Passenger</button>
						</form>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Passenger Stats</h3>
					</div>
					<div class="panel-body">
						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Start</th>
									<th>Dest</th>
									<th width="100%">State</th>
									<th>Time&nbsp;(sec)</th>
									<th>Elevator</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="passenger in simulation.passengers">
									<td>{{ passenger.passengerNum }}</td>
									<td>{{ passenger.startFloor.getLevel() }}</td>
									<td>{{ passenger.destinationFloor.getLevel() }}</td>
									<td>{{ passenger.passengerState }}</td>
									<td>{{ passenger.getTravelTime() }}</td>
									<td>{{ passenger.getElevatorString() }}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-54316292-1', 'auto');
		ga('send', 'pageview');
	</script>
	
</body>
</html>