body {
	padding-top: 60px;
}

#newSimModal input.form-control {
	width: 150px;
}

#newSimModal select.form-control {
	width: 100px;
}

#addPassengerForm input.form-control {
	width: 150px;
}

#addPassengerForm, #addMultiplePassengersForm, #automaticallyAddPassengersForm {
	padding: 5px;
}

#addMultiplePassengersForm input {
	width: 100px;
}

.floor-table {
	text-align: center;
}

.elevator-stops {
	height: 60px;
}

.passenger-overall-stats {
	margin-bottom: 10px;
}

.passenger-stat-table {
	max-height: 500px;
    overflow: auto;
}